$primaryColor: #2AC4D5;
$secondaryColor: #2A6FD5;
$buttonColor: #2AD590;
$defaultWhite: #FFFFFF;
$ArialFont: 'Arial', sans-serif;
$errorMessage: #F9D7DA;
$errorTextColor: #A11F23;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

div {
  padding: 6px;
}
body {
  background-color: $primaryColor;
  color: $defaultWhite;
  font-family: 'Arial', sans-serif;

}

input {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid $primaryColor;
  color: white;
  background-color: $secondaryColor;
  box-shadow: 1px 1px 5px $secondaryColor;
}

#inputContainer {
  padding: 1rem;

  p {
    font-size: 1.1rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 2px solid red;
  padding: 1rem;

  #resultContainer {
    // border: 2px solid red;
    border: 2px solid #2AC4D5;
    box-shadow: 1px 1px 6px $secondaryColor;
    background-color: $secondaryColor;
    border-radius: 10px;
    padding: 1rem;
  }

  input::placeholder {
    color: white;
  }

  .custom-select {
    
    
    width: 300px;
    padding: 6px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    background-color: $secondaryColor;
    color: white;
    font-size: 1rem;
    box-shadow: 1px 1px 6px $secondaryColor;
    border: 2px solid #2AC4D5;
    text-align: center;
    letter-spacing: 0.27px;
  }

  .alert {
    border: 1px solid red;
    border-radius: 5px;
    font-size: 1.25rem;
    margin: 1rem;
    background-color: $errorMessage;
    color: #A11F23;
    
  }

  
  
}